---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Dimensions
$max-content-width: {{ site.max_width }};

@import
  "variables",
  "themes",
  "layout",
  "base",
  "distill"
;

#register-button {
  width: 50%;
  margin: 20 auto;
  padding: 10;
  font-size: 20;
  font-weight: bold;
  display: block;
  background: darkblue;
}
